<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= title %>
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="parent-container">
            <div class="heading-container">
                <h1>To-Do App</h1>
            </div>
            <hr>
            <div class="task-container ">
                <div class="description">
                    <p>DESCRIPTION</p>
                    <input type="text" id="descr" placeholder="What do you need to do?" required>
                </div>
                <hr>
                <div class="category-date-container">
                    <div class="category-container">
                        <label for="category">CATEGORY</label>
                        <br>
                        <select name="category" id="category" arial-placeholder="Choose a Category">
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="College">College</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <span class="date-container">
                        <p>Due Date:</p>
                      
                        <input type="date"  required>
                    </span>
                </div>
                <hr>
                <div class="action-btn-container">
                    <button  class="add-btn" onclick="addTask()">Add Task!</button>
                    <button class="delete-btn">Delete Task</button>
                </div>
            </div>
            <hr>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>